.header{
padding-top: 30px;
font-size: 40px;
width:80%;
margin: auto;
text-align: center;
}

.main-body{
    padding-top: 30px;
    width:80%;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}



.search-bar{
    border-left: 0px;
    padding-top: 55px;

}
#search{
    width: 500px;
    height: 20px
}

#search-svg{
    margin-right: 4px;

}

body{
    background-color:  #f2f2f2;
}

.contact-cards{
    padding-top: 20px;
    padding-bottom: 30px;
    border:solid;
    width:50%;
    margin: auto;
    text-align: center;
    background-color:white;
    font-size: large;
}

.add-contact{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 40%; /* Full width */
    height: 10%; /* Full height */ 
    background-color:  #cccccc    ;
    padding-top: 0px;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: -1000px;
    margin-top: 200px;
    margin-left: 350px;
    margin-right: 0;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}